.about-section {
  text-align: center;
  padding: 30px;
  color: #1f4050;
}
.about-section h2 {
  padding: 40px 0;
}

.about-paragraph {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.about-paragraph p {
  padding: 30px 0;
  max-width: 350px;
  text-align: justify;
}
