.language-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.language-container .flag {
  width: 40px;
}

.not-active {
  opacity: 0.5;
}

.active {
  opacity: 1;
}
