.procedures-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  color: #1f4050;
}

.procedures-section h2 {
  text-align: center;
  padding: 40px 0;
  color: #1f4050;
}

.procedures-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.procedures-item {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  background-color: #e8eef6;
  padding: 20px 30px 30px 30px;
  gap: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -o-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -ms-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.procedures-item h3 {
  text-align: center;
  font-size: 1.2rem;
}

.procedures-svg {
  width: 200px;
  display: block;
  margin: 0 auto;
  filter: invert(21%) sepia(16%) saturate(1542%) hue-rotate(155deg)
    brightness(94%) contrast(93%);
  -o-filter: invert(21%) sepia(16%) saturate(1542%) hue-rotate(155deg)
    brightness(94%) contrast(93%);
  -ms-filter: invert(21%) sepia(16%) saturate(1542%) hue-rotate(155deg)
    brightness(94%) contrast(93%);
  -moz-filter: invert(21%) sepia(16%) saturate(1542%) hue-rotate(155deg)
    brightness(94%) contrast(93%);
  -webkit-filter: invert(21%) sepia(16%) saturate(1542%) hue-rotate(155deg)
    brightness(94%) contrast(93%);
}
